groups:
    - general
    - bash
    - dev-aws
    - dev-blog
    - dev-chef
    - dev-go
    - dev-python
    - developer
recipes:
    global:
        - dotfiles::sshconfig
    mac_os_x:
        - sudoalt::default
        - osxdefaults::dock_enable_spring_loading_for_all_dock_items
        - osxdefaults::dock_make_dock_icons_of_hidden_applications_translucent
        - osxdefaults::dock_minimize_to_application
        - osxdefaults::dock_set_the_icon_size_of_dock_items_to_36_pixels
        - osxdefaults::dock_show_indicator_lights_for_open_applications_in_the_dock
        - osxdefaults::dock_enable_highlight_hover_effect_for_the_grid_view_of_a_stack
        - osxdefaults::dock_remove_the_auto-hiding_dock_delay
        - osxdefaults::menu_show_clock_with_date
attributes:
    dotfiles:
        vimusers:
            - root
            - patrickmcclory
        kdeploy:
            hostname: dev
    git:
        name: Patrick McClory
        email: patrick@dualspark.com
    osxdefaults:
        computername: pmdev-mac
    authorization:
        sudo:
            users:
                - patrick
            passwordless: true
            include_sudoers_d: true
    homebrewalt:
        apps:
            - keybase
            - speedtest_cli
        cask_apps:
            - python3
            - prezi
            - caffeine
            - displaylink
            - atom
